extends layout

block content
  h1= title
  p All phone numbers must be 10 digit integers with no country code, no spaces or punctuation of any kind. For example, 2345678910.
  form(name='input',action='?',method='post')
    div(data-role='fieldcontain')
      label(for='phone1') Phone #1&nbsp
      input(name='phone[0]',type='text',autocomplete='tel-national')
      br
      br
      label Phone #2&nbsp
      input(name='phone[1]',type='text',autocomplete='tel-national')
      br
      br
      label Phone #3&nbsp
      input(name='phone[2]',type='text',autocomplete='tel-national')
      br
      br
      label Phone #4&nbsp
      input(name='phone[3]',type='text',autocomplete='tel-national')
      br
      br
      label(for='type') Euchre
      input(name='euchre',type='checkbox')
      br
      br
      input(type='submit',value='Shuffle')
